<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="tasks"
          class="ru.otus.tester.controller.Questions">
        <property name="questFile" value="/questions.csv"/>
    </bean>

    <bean id="comms"
          class="ru.otus.tester.controller.Communicator">
    </bean>

</beans>
